@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins&display=swap');

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100% - 20px);
  background-color: #35a853;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.myFooter {
  display: flex;
  justify-content: space-around;
}

.ftr {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8rem;
}

.footer_li {
  color: white;
  margin: 0 10px;
}
